{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --color-highlight: {{ section.settings.colors_highlight.red }}, {{ section.settings.colors_highlight.green }}, {{ section.settings.colors_highlight.blue }};
  }
{%- endstyle -%}

{{ 'section-faq.css' | asset_url | stylesheet_tag }}

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  {%- if section.settings.secondary_background -%}
    <div class="faq--colored">
  {%- endif -%}
    <div class="faq page-width{% if section.settings.narrow %} page-width--inner{% endif %}">
      <div class="title-wrapper{% if section.settings.heading == blank %} title-wrapper--no-heading{% endif %} {{ section.settings.heading_alignment }}">
        <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">
          {%- render 'highlight-text', 
            hl_input: section.settings.heading, 
            hl_style: section.settings.highlight_style,
            hl_enable: section.settings.enable_highlight,
            hl_animateWrap: true -%}
        </{{ section.settings.heading_tag }}>
      </div>

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'rich-text' -%}
            <p class="h3" {{ block.shopify_attributes }}>
              {%- render 'highlight-text', 
                hl_input: block.settings.title, 
                hl_style: block.settings.highlight_style,
                hl_enable: block.settings.enable_highlight,
                hl_animateWrap: true -%}
            </p>
            <div class="rte">
              {%- render 'highlight-text', 
                hl_input: block.settings.text, 
                hl_style: block.settings.highlight_style,
                hl_enable: block.settings.enable_highlight,
                hl_animateWrap: true -%}
            </div>
          {%- when 'question' -%}
            {%- if block.settings.text != blank -%}
            <accordion-tab {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <span>
                    <span class="icon icon-plus-alt"></span>
                    {%- render 'highlight-text', 
                      hl_input: block.settings.title, 
                      hl_style: block.settings.highlight_style,
                      hl_enable: block.settings.enable_highlight,
                      hl_animateWrap: true -%}
                  </span>
                </summary>
                <div class="accordion__content rte typeset">
                  {%- render 'highlight-text', 
                    hl_input: block.settings.text, 
                    hl_style: block.settings.highlight_style,
                    hl_enable: block.settings.enable_highlight,
                    hl_animateWrap: true -%}
                </div>
              </details>
            </accordion-tab>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- if section.settings.secondary_background -%}
    </div>
  {%- endif -%}
</div>

{%- assign question_blocks = section.blocks | where: 'type', 'question' -%}
{%- if question_blocks.size > 0 -%}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {%- for block in question_blocks -%}
          {
            "@type": "Question",
            "name": {{ block.settings.title | json }},
            "acceptedAnswer": {
              "@type": "Answer",
              "text": {{ block.settings.text | json }}
            }
          }{% unless forloop.last %},{% endunless %}
        {% endfor -%}
      ]
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.faq.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "narrow",
      "default": false,
      "label": "t:sections.all.narrow.label"
    },
    {
      "type": "checkbox",
      "id": "secondary_background",
      "default": false,
      "label": "t:sections.faq.settings.secondary_background.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "FAQs",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color",
      "id": "colors_highlight",
      "label": "t:sections.all.colors.colors_highlight.label",
      "default": "#ffb503"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.highlight.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_highlight",
      "label": "t:sections.all.highlight.enable.label",
      "info": "t:sections.all.highlight.enable.info",
      "default": false
    },
    {
      "type": "select",
      "id": "highlight_style",
      "options": [
        {
          "value": "marker",
          "label": "t:sections.all.highlight.style.options__1.label"
        },
        {
          "value": "circle",
          "label": "t:sections.all.highlight.style.options__2.label"
        },
        {
          "value": "underline",
          "label": "t:sections.all.highlight.style.options__3.label"
        },
        {
          "value": "bold-underline",
          "label": "t:sections.all.highlight.style.options__4.label"
        },
        {
          "value": "modern-underline",
          "label": "t:sections.all.highlight.style.options__5.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.all.highlight.style.options__6.label"
        },
        {
          "value": "squiggle",
          "label": "t:sections.all.highlight.style.options__7.label"
        },
        {
          "value": "heavy-squiggle",
          "label": "t:sections.all.highlight.style.options__8.label"
        },
        {
          "value": "solid-color",
          "label": "t:sections.all.highlight.style.options__9.label"
        }
      ],
      "default": "marker",
      "label": "t:sections.all.highlight.style.label"
    }
  ],
  "blocks": [
    {
      "type": "rich-text",
      "name": "t:sections.faq.blocks.rich-text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Rich text",
          "label": "t:sections.faq.blocks.rich-text.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>",
          "label": "t:sections.faq.blocks.rich-text.settings.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.highlight.header.content"
        },
        {
          "type": "checkbox",
          "id": "enable_highlight",
          "label": "t:sections.all.highlight.enable.label",
          "info": "t:sections.all.highlight.enable.info",
          "default": false
        },
        {
          "type": "select",
          "id": "highlight_style",
          "options": [
            {
              "value": "marker",
              "label": "t:sections.all.highlight.style.options__1.label"
            },
            {
              "value": "circle",
              "label": "t:sections.all.highlight.style.options__2.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.highlight.style.options__3.label"
            },
            {
              "value": "bold-underline",
              "label": "t:sections.all.highlight.style.options__4.label"
            },
            {
              "value": "modern-underline",
              "label": "t:sections.all.highlight.style.options__5.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.all.highlight.style.options__6.label"
            },
            {
              "value": "squiggle",
              "label": "t:sections.all.highlight.style.options__7.label"
            },
            {
              "value": "heavy-squiggle",
              "label": "t:sections.all.highlight.style.options__8.label"
            },
            {
              "value": "solid-color",
              "label": "t:sections.all.highlight.style.options__9.label"
            }
          ],
          "default": "marker",
          "label": "t:sections.all.highlight.style.label"
        }
      ]
    },
    {
      "type": "question",
      "name": "t:sections.faq.blocks.question.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Frequently asked question",
          "label": "t:sections.faq.blocks.question.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.faq.blocks.question.settings.text.label",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
        },
        {
          "type": "header",
          "content": "t:sections.all.highlight.header.content"
        },
        {
          "type": "checkbox",
          "id": "enable_highlight",
          "label": "t:sections.all.highlight.enable.label",
          "info": "t:sections.all.highlight.enable.info",
          "default": false
        },
        {
          "type": "select",
          "id": "highlight_style",
          "options": [
            {
              "value": "marker",
              "label": "t:sections.all.highlight.style.options__1.label"
            },
            {
              "value": "circle",
              "label": "t:sections.all.highlight.style.options__2.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.highlight.style.options__3.label"
            },
            {
              "value": "bold-underline",
              "label": "t:sections.all.highlight.style.options__4.label"
            },
            {
              "value": "modern-underline",
              "label": "t:sections.all.highlight.style.options__5.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.all.highlight.style.options__6.label"
            },
            {
              "value": "squiggle",
              "label": "t:sections.all.highlight.style.options__7.label"
            },
            {
              "value": "heavy-squiggle",
              "label": "t:sections.all.highlight.style.options__8.label"
            },
            {
              "value": "solid-color",
              "label": "t:sections.all.highlight.style.options__9.label"
            }
          ],
          "default": "marker",
          "label": "t:sections.all.highlight.style.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.presets.name",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
